// Challenges page (/challenges)

#challenges {

  .challenge-list{
    margin: 3em 0;
    vertical-align: 2em;

    img {
      opacity: 1.0;
      vertical-align: middle
    }

    img:hover {
      opacity: 0.6;
      vertical-align: middle
    }
  }
}


